copy_command "wl-copy"
default_shell "zsh"
theme "modified_carbonfox"
themes {
	modified_carbonfox {
		bg "#b6b8bb"
		black "#161616"
		blue "#78a9ff"
		cyan "#33b1ff"
		fg "#f2f4f8"
		green "#de3163"
		magenta "#be95ff"
		orange "#3ddbd9"
		red "#ee5396"
		white "#b6b8bb"
		yellow "#08bdba"
	}
}
keybinds {
    locked {
        bind "Ctrl p" { SwitchToMode "Pane";}
        bind "Ctrl h" { MoveFocus "Left";}
        bind "Ctrl j" { MoveFocus "Down";}
        bind "Ctrl k" { MoveFocus "Up";}
        bind "Ctrl l" { MoveFocus "Right";}
    }
    
}
