name: Validate Nix Flake

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build: 
    strategy:
      fail-fast: false
      matrix: 
        os: ["macos-latest"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Setup Attic cache
        uses: ryanccn/attic-action@v0
        with:
          endpoint: ${{ secrets.ATTIC_ENDPOINT }}
          cache: ${{ secrets.ATTIC_CACHE }}
          token: ${{ secrets.ATTIC_TOKEN }}

      - name: Build
        run: nix develop -c bash -c "set -euo pipefail; just build"

