name: Validate Nix Flake

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build: 
    strategy:
      matrix: 
        os: ["ubuntu-latest", "macos-latest", "ubuntu-24.04-arm"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Setup Attic cache
        uses: ryanccn/attic-action@v0
        with:
          endpoint: ${{ secrets.ATTIC_ENDPOINT }}
          cache: ${{ secrets.ATTIC_CACHE }}
          token: ${{ secrets.ATTIC_TOKEN }}

      - name: Build
        shell: nix develop --command -e {0}
        run: just build

